form {
    width: 69%;
    display: flex;
    align-items: flex-end;
    border:1px solid;
    margin: 0 auto;
    gap: 10px;
    flex-wrap: wrap;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0px 0px 5px #ccc;
    border-raius: 5px;
}

div {
    display: flex;
    flex-direction: column;
}

input {
    padding: 0 10px;
    border: 1px solid #bbb;
    border-radius: 5px;
    height: 40px;
    font-size: 18px;
}

button {
    padding: 10px;
    cursor: pointer;
    border-radius: 5px;
    border: none;
    background-color: #2c73d2;
    color: white;
    height: 30px;
}