table {
    border:1px solid;
    width: 73%;
    background-color: #fff;
    padding: 5px;
    box-shadow: 0px 0px 5px #ccc;
    border-radius: 5px;
    margin: 20px auto;
}

th {
    text-align: start;
    border-bottom: inset;
    padding-bottom: 5px;
}

td {
    padding-top: 0px;
    text-align: start;
}

.td-ano {
    text-align: right;
    padding-right: 30px;
}